<header>
  <div
    class="flex flex-col items-center justify-center py-4 sm:flex-row sm:justify-center"
  >
    <a
      href="/"
      class="mb-2 text-center font-mono text-2xl font-bold tracking-tight whitespace-nowrap sm:mb-0 sm:text-left"
      style="letter-spacing: 0.5px;"
    >
      Shreya Khanduri | Rare Decay Physics
    </a>
    <nav
      class="mt-2 flex flex-row items-center justify-center gap-6 text-base font-semibold sm:mt-0 sm:ml-8"
    >
      <a href="/posts/" class="transition hover:text-accent">Posts</a>
      <a href="/tags/" class="transition hover:text-accent">Tags</a>
      <a href="/about/" class="transition hover:text-accent">About</a>
    </nav>
  </div>
</header>
